@using DoggyBox.Web.ViewModels.StaticPages
@model ContactMessageViewModel

@using (Html.BeginForm("Contact", "StaticPages", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <legend>Quick message</legend>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Send Message" class="btn btn-default" />
        </div>
    </div>
}