@using DoggyBox.Web.ViewModels.Courses
@using Microsoft.AspNet.Identity
@model IEnumerable<CourseViewModel>

<h2>Upcoming Training Practices</h2>

@foreach (var course in Model)
{
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="~/Content/Images/calendar.gif" /> @course.Info.Name Practices
                </div>

                <div class="panel-body">

                    @foreach (var practice in course.Practices.OrderBy( p => p.Date))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-10">
                                                Start Time:
                                                @practice.Date
                                            </div>
                                        </div>
                                        <hr />
                                        @foreach (var dog in practice.Dogs)
                                        {
                                            <div class="row">
                                                <div class="col-md-2">
                                                    @{
                                                        var currenUserId = User.Identity.GetUserId();
                                                        if (dog.Owner != null && dog.Owner.Id == currenUserId)
                                                        {
                                                            <img src="~/Content/Images/faq_red_li.gif" class="img-responsive" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Content/Images/faq_gr_li_green.gif" class="img-responsive" />
                                                        }
                                                    }
                                                </div>
                                                <div class="col-md-4">
                                                    @dog.Name
                                                </div>
                                                <div class="col-md-4">
                                                    @dog.Breed
                                                </div>
                                            </div>
                                        }

                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @Html.ActionLink("Join", "Join", "Practices" ,new { area = "", id = practice.Id }, new { @class = "btn btn-success btn-sm pull-right" })
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}